.detail-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 484px;
    background-image: linear-gradient(to top, #dce2e6 0%, #e9eef1 100%);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 0 30px;
}

.detail-r img {
    width: 420px;
    margin: 30px 0;
}

header h2 {
    font-size: 55px;
    color: rgb(78, 78, 78);
}

header h2 span {
    font-size: 40px;
    font-weight: 500;
}

.name-type {
    display: flex;
    color: rgb(78, 78, 78);
    margin-bottom: 20px;
    margin-left: 20px;
}

.type-container h3 {
    margin-right: 2px;
}

.stat-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 40px;
    margin-left: 20px;
    margin-bottom: 12px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 8px 10px 8px 10px;
    transform: skewX(-30deg);
}

.stat-name, .stat {
    font-size: 20px;
    font-weight: 500;
    transform: skewX(30deg);
}

.stat-container:nth-child(odd) {
    background-color: rgba(99, 172, 255, 0.182);
}

@media (max-width: 1200px) {
    .detail-container {
        flex-direction: column;
        height: 100%;
        margin: 0 20px;
        padding: 0 20px;
    }

    header h2 {
        width: 100%;
        text-align: center;
    }

    .detail-r {
        order: 1;
    }

    .detail-l {
        order: 2;
        margin-bottom: 30px;
        width: 100%;
    }

    .stats-container {
        width: 100%;
    }

    .stat-container {
        width: 90%;
    }

    .detail-r img {
        margin: 0;
    }
    .detail-r img {
        width: 100%;
    }
}