.welcome {
    text-align: center;
}

.welcome h2 {
    font-size: 70px;
}

.welcome h2:last-child {
    font-size: 40px;
}

.welcome img:hover {
    scale: 1.1;
    transition: ease 0.3s all;
    cursor: pointer;
}
